/*style.css*/

body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Sections Style */

body {
    background: url('../img/bikeshop.jpg') no-repeat center center fixed;
    background-size: cover;
}
.navbar-default {
    background-color: rgba(0,0,0,.8);
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color:lightgrey;
    background-color: rgba(75,75,75,.8); /*light grey */
}
.navbar-default .navbar-nav>li>a:visited{
    color:white;
}
.navbar-default .navbar-nav>li>a:hover{
    color:lightgrey;
}

.intro-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
}
.about-section {
    height: 100%;
    padding: 40px 10px;
    text-align: center;
}
.about-section h1, h3 {
    padding-bottom: 1rem;
    color: white;
}
.about-section img {
    height: 6.25rem;
    width: 12.5rem;
}
.services-section {
    /*height: 100%;*/
    padding: 40px 0;
    text-align: center;
}
.services-section h1, h6{
    color: white;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: lightgrey;
 }
 .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: white;
 }
 .services-section table {
    width: 28rem;
    height: 10rem;
 }
.contact-section {
    /*height: 100%;*/
    padding: 1.25rem 0 10rem 0;
    text-align: center;
    color: white;
    background-color: rgba(15,117,189,.1);
}
#footer {
    text-align: center;
    color: lightgrey;
    background-color: rgba(15,117,189,.1);
}