/*style.css*/

body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Sections Style */

body {
    background: url('../img/bikeshop.jpg') no-repeat center center fixed;
    background-size: cover;
}
.navbar-default {
    background-color: rgba(255,255,255,.8);
}
.nav li {
    color: white;
}

.intro-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
}
.about-section {
    height: 100%;
    padding: 25px 10px;
    text-align: center;
}
.about-section h1 {
    padding-bottom: 1rem;
    color: white;
}
.about-section img {
    height: 100px;
    width: 200px;
}
.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    
}
.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    
}